body {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
  font-size:1.3em;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 2em;
}

h3{
  font-size:1.6em;
}

html { 
  background: url(pencil-new.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-element{
  width: 170px;  /* Or whatever */
  margin: 0 20px 0 20px;
}

.correct-and-incorrect-display{
  width:190px;
  height:50px;
  margin: 20px 10px 0px 10px;
}

.flexbox-div{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}


.padding-left-25{
  padding-left:60px !important;
}

#btn-home{
  text-align: left;
  padding-left:20px;
  padding-top:20px;
}

